@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-accent: #8b5cf6;
  --color-highlight: #f59e0b;
  --color-text-main: #f8fafc;
  --color-text-muted: #94a3b8;
}
@layer base {
  body {
    @apply bg-primary text-text-main font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-linear-to-r from-accent to-pink-500;
}

.glass-card {
  @apply bg-secondary/50 backdrop-blur-lg border border-white/10 shadow-xl rounded-xl;
}

.btn-primary {
  @apply bg-linear-to-r from-accent to-indigo-600 text-white px-6 py-3 rounded-full font-bold shadow-lg hover:shadow-accent/50 transition-all duration-300 transform hover:-translate-y-1;
}
